@mixin dark-container ($padd){
  background: $background-gray;
  color: $text-light;
  padding: ($padd);
}
@mixin list-style (){
  margin: 20px 40px;
  li{
    padding: 5px;
    input{
      margin: 3% 20%;
    }
  }
}
