$container-padding: 3%;
$background-yellow: rgb(235, 184, 93);
$background-gray: rgb(62, 63, 64);
$margin: 4%;
$text-light: rgb(255, 255, 255);
$text-dark: black;
$font: Helvetica;
$paragraph-size: 12px;
